<header class="flex-cntr">
	<nav class="flex-cntr" id="top-nav">
		<h2>Products</h2>
		<h1>Mongoose Store</h1>
		<div class="nav-links flex-cntr">
			<a href="/products">Home</a>
			<a href="/products/new" >Create Product</a>
		</div>
	</nav>
</header>